@font-face {
  font-family: Dihjauti;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Dihjauti-Regular.otf") format("opentype");
}

* {
  color: #8f8c8b;
  font-family: Dihjauti; 
}

/* TOP NAVIGATION BAR */

.topnav {
  overflow: hidden;
  padding: 1% 1% 0% 0%; 
}

.topnav a {
  float: right;

  text-align: center;
  padding: 0% 0% 0% 1%;
  text-decoration: none;
  font-family: Dihjauti; 
  font-size: 2vw;
}

.topnav .logo {
  fill: #8f8c8b;
  padding: 0% 0px 0px 2%;
  width: 10%; 
}

.topnav .logo:hover {
  fill: black; 
}

.topnav a:hover {
  color: black;
}

.homeimg {
  padding: 0% 5% 0 5%;
  max-width: 90%;
}

/* PORTFOLIO NAVIGATION BAR */

.portfolionav {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.portfolionav a {
  color: #8f8c8b;
  text-align: center;
  padding: 35px 10px 0px 10px;
  text-decoration: none;
  font-size: 2vw;
}

.portfolionav a:hover {
  color: black;
}

/* IMAGE GRID */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col {
  flex: 20%;
  max-width: 55%;
  padding: 0 4px;

}

@media screen and (max-width: 768px) {
  .col {
    flex: 100%;
    width: 100%;
  }
}

.col img {
  margin-top: 8px;
  vertical-align: right;
  width: 100%;
}

.aboutsection {
  max-width: 50%;
  padding: 0% 25% 0% 25%;
}

.abouttext {
  padding: 0% 25% 0% 25%;
  text-align: center;
}

.links {
  display: flex;
}

.instagram {
  padding: 0% 50% 0% 50%;
}
